<% if @purchases.any? %>
  <ul class="list-unstyled">
    <% @purchases.each do |purchase| %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5>購入日：<%= purchase.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日")  %></h5>
          </div>
          <div class="col-md-4">
            <%= image_tag purchase.product.image, class: "img-fluid" %>
          </div>
          <div class="col-md-4">
              <table class="table border="2"">
                <thead>
                    <tr><td colspan="2"><%= purchase.product.name %></td></tr>
                    <tr><td colspan="2"><%= purchase.product.description %></td></tr>
                    <tr><td>値段</td>
                        <td><div class="text-right"><%= purchase.product.price %>円</div></td>
                    </tr>
                    <tr>
                        <td>個数</td>
                        <td><div class="text-right"><%= purchase.quantity %>個</div></td>
                    </tr>
                    <tr>
                        <td>合計</td>
                        <td><div class="text-right"><%= purchase.product.price * purchase.quantity %>円</div></td>
                    </tr>
                </thead>
            </table>

          </div>
          <div class="col-md-4">
            <p><a href="<%= product_path(purchase.product) %>" class="btn btn-danger btn-block">購入する</a>
            <%= render 'likes/like_button', product: purchase.product %></p>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
  <%= paginate @purchases %>
  <% else %>
  <div class="alert alert-warning" role="alert">購入履歴がありません。</div>
<% end %>