<div class="row">
  <div class="col-sm-6 offset-sm-3">

        <h6>お名前</h6>
        <div class="offset-sm-1">
        <p><%= @user.name %></p>
        </div>
        <h6>メールアドレス</h6>
        <div class="offset-sm-1">
        <p><%= @user.email %></p>
        </div>
        <h6>お届け先</h6>
        <div class="offset-sm-1">
        <p>〒<%= @user.postalcode %></p>
        </div>
        <div class="offset-sm-1">
        <p><%= @user.prefecture %><%= @user.address1 %><%= @user.address2 %></p>
        </div>
        <h6>電話番号</h6>
        <div class="offset-sm-1">
        <p><%= @user.tel %></p>
        </div>
        <div class="text-right">
        <% if logged_in? %>
        <a href="<%= edit_user_path %>" class="btn btn-primary btn-lg">更新する</a>
        <% else %>
        <a href="<%= login_path %>" class="btn btn-primary btn-lg">ログイン</a>
        <% end %>
        </div>  
    </div>
    </div>